# sbt
bin/
target/
app/target/
macros/target/
build/

# metals
.bsp/
.bloop/
.metals/
project/project/
build.properties

#vscode
.vscode/

#other
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
